.add-lecture-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.lecture-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.lecture-actions button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.lesson-plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.lecture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 20px;
  width: 90%;
  margin-top:20px;
}

.lecture-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  background-color: white;
  position: relative; 
  transition: box-shadow 0.1s ease; 
}

.lecture-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lecture-image-container {
  height: 150px;
  overflow: hidden;
}

.lecture-image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.lecture-info {
  padding: 15px;
}

.lecture-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.lecture-details {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #555;
}

.lecture-details span {
    display:flex;
    align-items: center;
}

.lecture-details i {
  margin-right: 5px;
}

.lecture-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.lecture-card:hover .lecture-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  margin-left: 10px;
}

.lecturer-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lecturer-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.lecture-popup button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00796b;
  border-color: #00796b transparent #00796b transparent;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
 
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}